@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Sora:wght@100..800&display=swap');

.adlam-font {
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-style: normal;
}

.sora-font {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
}

/* Shared styles */
* {
    margin: 0;
    padding: 0;
}

.pd-18 {
    padding: 1rem 8rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    max-width: 1600px;
    border: 1px dotted;
    margin: 0 auto;
}

button {
    border: none;
    border-radius: .5rem;
    background-color: white;
    padding: .5rem 1.5rem;
}

.gray-text {
    color: rgb(93, 93, 93);
}

.yellow-text {
    background-color: #FFDC26;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.yellow-border {
    border: 1px solid #FFDC26;
}

.yellow-btn {
    background-color: #FFDC26;
}

/* Navbar related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFF9F4;
    /* margin-bottom: 3rem; */
}

.left {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

.right {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.hamburger {
    display: none;
}

/* hero-section styles */
.hero-section {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    /* margin-bottom: 3rem; */
}

.hero {
    min-height: 750px;
    background-image: url('./assets/cat-big.png');
}
.hero > div {
    max-width: 680px;

    display: flex;
    flex-direction: column;
    gap: 2rem
}
.hero > div h1 {
    font-size: 3.5rem;
}

.hero > div button {
    align-self: flex-start;
}

.hero-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    gap: 1rem;
}
.h-card {
    padding: 5rem 0;
    background-color: #F9DF8A;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
}
.h-card-img {
    background-color: white;
    height: 5rem;
    width: 5rem;
    margin: 0 auto;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Trending section style */
.trending-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 8rem;

    background-color: #FFF9F4;
}

.tren-card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}
.tren-card-container > :first-child {
    grid-column: span 2;
    grid-row: span 3;

    background-color: #F9DF8A;
    padding: 2rem 6rem 2rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    background-image: url('./assets/cute-pet-small.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}
.tren-card-container > :first-child button {
    align-self: flex-start;
}
 .t-card {
    padding: .5rem;

    display: flex;
    align-items: center;
    gap: 1rem;
    

    border-radius: 1rem;
    background-color: white;
 }
 .t-card .t-card-left {
    background-color: #5d536021;

    height: 5rem;
    width: 5rem;
    border-radius: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;
 }

 .t-card .t-card-right .review {
    display: flex;
    align-items: center;
    gap: .2rem;
 }
  .t-card .t-card-right .review i {
    color: #FFDC26;
  }